button {
    width: calc(100% - 40px);
    padding: 10px;
    background-color: #445940;
    color: #f2f2f2;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #bf754b;
    color: #f2f2f2;
}

.visibilityButton{
    width:70px;
    height:40px;
    border-radius: 5px;



}
/*.headers {*/
/*    display: flex;*/
/*    justify-content: space-between; !* Pushes the first item to the left and the last to the right *!*/
/*    align-items: center; !* Vertically centers the items *!*/
/*}*/
.headers {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.headerName {
    font-size: 40px;

    grid-column: 2 / 3; /* Places headerName in the center column */
    justify-self: center; /* Center the content within the grid area */
}

.visibilityContainer {
    grid-column: 3 / 4; /* Places visibilityContainer in the right column */
    justify-self: end; /* Aligns the container to the end of the grid area */
    margin-right: 20px; /* Adds some space to the right, adjust as needed */
    align-content: center;
}
/*.visibilityContainer {*/
/*    margin-right: 20px;*/
/*    display: flex;*/
/*    align-items: center; !* Ensures the text and button are aligned vertically *!*/
/*}*/
/*.headerName {*/
/*    font-size: 40px;*/
/*    flex-grow: 1; !* Allows the headerName to grow and take up available space, aiding in centering *!*/
/*    text-align: center; !* Centers the text of headerName within its own space *!*/
/*}*/
.favorite-results {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.favorite-results img {
    width: 500px;
    height: auto;
}

.park-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px 0;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}