.card {
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2A402C;
    color: #F2F2F2;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #445940;
}

.cardContent{
    flex-grow: 1;
}

.formGroup {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #445940;
    background-color: #F2F2F2;
    color: #2A402C;
    box-sizing: border-box;
}

button {
    width: calc(100% - 40px);
    padding: 10px;
    background-color: #445940;
    color: #F2F2F2;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #BF754B;
    color: #F2F2F2;
}